<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Vue test</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id='app'>
        <div class="product">
            <div class="product-image">
                <img id="photo" v-bind:src="image" alt="V-card RTX2060">
            </div>
            <div class="product-info">
                <h1>{{product.name}}</h1>
                <p>{{description}}</p>
            </div>
            <div class="buying">
                <p class="price">{{product.price}} $</p>   
                <buying v-on:buy="addToBasket"></buying>
            </div>
            <grade></grade>
            <rating></rating>
            <add-offers v-on:add-buy="addToBasket"></add-offers>
            <main-features></main-features>
            <other-features></other-features>
        </div>
        <div class="basket">
            <div id="total-sum">{{total}} $</div>
            <img v-bind:src="basketImg" alt="Basket">
       </div>
        <div class="promo">
            <p>
                Make an order & click 
                <img id="right-button" v-bind:src="rightButton" alt="right-button" v-on:contextmenu.prevent="promo">
                 to have a promocode for purchases in the stores of our partners.
            </p>
            <p id="code" v-if="visible">
                Code: {{promocode}}. &nbsp &nbsp Discount: {{discount}} %
            </p>
        </div>
        <div class="other-products">
            <a v-bind:href="link">More products like this</a>
        </div>
        <div class="reviews">
            <h3 id="reviews-label">Reviews:</h3>
            <form>
                <textarea id="review" placeholder="Enter your review"
                    v-model="currentReview"
                    v-bind:class="classObjectReview"
                    v-on:focus="onFocusReview"
                    v-on:blur="offFocusReview"
                    v-on:keyup="activeBut">
                </textarea>
                <button id="send-but"
                    v-bind:disabled="buttonState"
                    v-on:click.prevent="send">
                        Send
                </button>
            </form>
            <ul id="reviews-list">
                <li v-for="value in reviews">
                    {{value | capitalize}}
                </li>
            </ul>
        </div>
    </div>
    <script src="js_vue.js"></script>
</body>
</html>