body {
	font-family: tahoma;
	color: #282828;
	margin: 0px;
	background-color: #f0ffee;
}

.product {
	display: flex;
	flex-flow: wrap;
	padding: 1px;
	position: absolute;
}

#photo {
	border:1px solid #d8d8d8;
	margin: 10px;
	box-shadow: 0px 0.5px 1px #d8d8d8;
}

.product-image {
	margin-top: 10px;
	width: 50%;
}

.product-info {
	margin-top: 10px;
	width: 25vw;
	position: absolute;
	left: 680px;
}

.buying {
	position: absolute;
	left: 1200px;
	top: 20px;
}

.price {
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: green;
	margin-bottom: 5px;
	margin-top: 10px;
}

#buy-but-big {
	width: 150px;
	height: 70px;
}

.add-offers {
	width: 480px;
	position: absolute;
	left: 1110px;
	top: 230px;
	font-weight: bold;
}

.tab-add-offers {
	border: 1px solid #DCDCDC;
}

.cell-1 {
	border: 1px solid #DCDCDC;
}

.cell-2 {
	border: 1px solid #DCDCDC;
	width: 70px;
	text-align: center;
}

.buy-but {
	font-weight: bold;
	color: green;
}

.other-products {
	margin-left: 40px;
	width: 50%;
	position:absolute;
	top: 640px;
}

#evaluation {
	width: 400px;
	position: absolute;
	left: 680px;
	top: 135px;
}

#label {
	margin-bottom: 0px;
	width: 200px;
}

#grade {
	width: 150px;
	position: absolute;
	left: 150px;
	top: 0px;
}

.blue {
	outline: 3px solid deepskyblue;
}

.rating {
	position: absolute;
	top: 135px;
	left: 1010px;
}

#click-like {
	width: 70px;
	height: 70px;
}

#sum-likes {
	text-align: center;
	color: red;
	font-weight: bold;
	margin: 0px;
	width: 70px;
	position: absolute;
}

#week-prod, #month-prod {
	color: #fc0fc0;
	font-family: algerian;
	height: 20px;
	margin: 3px;
	width: 410px;
	position: relative;
	right: 330px;
}

.main-features {
	position: absolute;
	top: 230px;
	left: 657px;
	width: 260px;
}

#main-features {
	margin: 14px;
	text-align: center;
}

.m-features-list {
	font-size: 18px;
}

.other-features {
	display: -webkit-inline-flex;
	display: inline-flex;
	width: 950px;
	font-size: 16px;
	justify-content: center;
	position: absolute;
	left: 680px;
	top: 400px;
}

.center {
	text-align: center;
}

.features:hover {
	z-index: 5;
	width: 330px;
	font-size: 18px;
	font-weight: bold;
	outline: 3px solid green;
	background-color: #f0ffee;
	opacity: 1;

}

.promo {
	position: absolute;
	left: 1570px;
	top: 190px;
	width: 325px;
}

#code {
	border: 1px solid green;
	width: 300px;
	text-align: center;
	font-weight: bold;
}

.basket {
	position: absolute;
	left: 1770px;
	top: 40px;
}

#total-sum {
	font-size: 25px;
	font-weight: bold;
	color: green;
	width: 85px;
	text-align: center;
}

.reviews {
	position: absolute;
	top: 660px;
	left: 10px;
}

#reviews-label {
	margin-bottom: 0px;
}

#review {
	width: 300px;
	height: 50px;
	max-width: 400px;
	max-height: 85px;
}

#reviews-list {
	margin: 9px;
	padding-left: 15px;
}

#name {
	color:darkgreen;
	font-weight: bold;
}

.animation {
	position: absolute;
	left: 1320px;
	top: 600px;
}

.planet {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 30%;
}

#planet {
	position: absolute;
	left: 23px;
	top: 5px;
	border-radius: 100%;
	width: 25px;
	animation: rotation 10s linear infinite;
	transform-origin: 230% 230% 0;
}

#ad {
	color: white;
	position: absolute;
	top: 0px;
	left: 30%;
	font-size: 25px;
	font-weight: bold;
	animation: falling 5s linear infinite;
}

@keyframes rotation {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}

@keyframes falling {
	0% {transform: translate(0, 0);}
	85% {transform: translate(0, 130%);}
	100% {transform: rotate(30deg);}
}